/* Alert Notification Pop-Up */
.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: sans-serif;
}
.notif {
  margin: 20px 0;
  margin: 40px auto;
  width: 400px;
  position: relative;
  padding: 25px 30px 25px 100px;
  min-height: 50px;
  line-height: 22px;
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.12);
}

.notif:before {
  content: "";
  position: absolute;
  top: 47px;
  left: 35px;
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-radius: 25px;
}

.notif p {
  font-size: 12px;
  color: #666666;
}

.notif-title {
  margin: 0 0 5px;
  font-size: 15px;
  font-weight: bold;
  color: #444444;
}

.notif-title:before,
.notif-title:after {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 3px;
}

.notif-notice:before {
  background: #a7d155;
  border-color: #8fb14f;
}

.notif-notice .notif-title:before,
.notif-notice .notif-title:after {
  top: 62px;
  left: 55px;
  width: 4px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-notice .notif-title:after {
  top: 68px;
  left: 48px;
  width: 8px;
  height: 4px;
}

.notif-alert:before {
  background: #e34f4f;
  border-color: #c14343;
}

.notif-alert .notif-title:before,
.notif-alert .notif-title:after {
  top: 62px;
  left: 53px;
  width: 4px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-alert .notif-title:after {
  top: 67px;
  left: 48px;
  width: 14px;
  height: 4px;
}

.notif-warn:before {
  background: #f1e472;
  border-color: #cec260;
}

.notif-warn .notif-title:before,
.notif-warn .notif-title:after {
  top: 56px;
  left: 53px;
  width: 4px;
  height: 11px;
  background: #5c562b;
}

.notif-warn .notif-title:after {
  top: 71px;
  height: 4px;
}

.notif-controls {
  position: absolute;
  top: 0;
  right: 0;
  /* height: 16px; */
  padding: 4px 3px 5px;
  background: #f0f0f0;
  border: solid #dcdcdc;
  border-width: 0 0 1px 1px;
  border-radius: 0 3px;
}

.notif-controls > span {
  position: relative;
  float: left;
  margin: 0 1px;
  width: 16px;
  height: 16px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.notif-minimize:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 7px;
  height: 2px;
  background: #bbb;
}

.notif-minimize:hover:before {
  background: #888;
}

.notif-zoom:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  width: 5px;
  height: 3px;
  border: 2px solid #bbb;
}

.notif-zoom:hover:before {
  border-color: #888;
}

.notif-close:before,
.notif-close:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 2px;
  height: 10px;
  background: #bbb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-close:after {
  top: 8px;
  left: 3px;
  width: 10px;
  height: 2px;
}

.notif-close:hover:before,
.notif-close:hover:after {
  background: #888;
}

/* IE 8 doesn't support CSS transforms; use Unicode instead. */

.lt-ie9 .notif-notice .notif-title:before {
  content: "\2714";
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 18px/50px "Arial Unicode MS";
  color: white;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-notice .notif-title:after {
  display: none;
}

.lt-ie9 .notif-alert .notif-title:before {
  content: "\2716";
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 17px/50px "Arial Unicode MS";
  color: white;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-alert .notif-title:after {
  display: none;
}

.lt-ie9 .notif-close:before {
  content: "\2716";
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  font: 11px/19px "Arial Unicode MS";
  color: #bbb;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-close:after {
  display: none;
}

.lt-ie9 .notif-close:hover:before {
  color: #999;
}

.hidden {
  display: none;
}
@media only screen and (max-width: 410px) {
  .notif {
    width: 300px;
  }
}
@media only screen and (max-width: 305px) {
  .alert {
    display: none;
  }
}
