@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.card {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  margin: 12px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin: 10px 0;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.tags {
  display: flex;
  padding: 0;
  margin: 0;
}
.tag {
  background-color: #fff;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-Electronics {
  background-color: #cfd167;
}
.tag-Furniture {
  background-color: #5f5731;
}
.tag-Vehicles {
  background-color: #92d4e4;
}

.tag-Fashion {
  background-color: #c62bcb;
}

.tag-Houses {
  background-color: #b63333;
}
.tag-Hobbies {
  background-color: #3d1d94;
}

.tag-Other {
  background-color: #2f3138;
}

.tag-price {
  background-color: #36a21f;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
  }
}
